@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #03020d;
    --background: #eae9fc;
    --primary: #170f61;
    --secondary: #beb8f4;
    --accent: #2e1dc3;
  }
  .dark {
    --text: #f3f2fd;
    --background: #040316;
    --primary: #a69ef0;
    --secondary: #110b47;
    --accent: #4c3ce2;
  }
}
